@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


html {
	scroll-behavior: smooth;
}
body {
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;	 
	color:#e7e7e7;
	line-height: 1;
}
.container {
	width:100%;
	margin: 0 auto;
	padding: 0 2rem;
	overflow: hidden;
}

/* HEADER */
header {
	background: url(https://media.discordapp.net/attachments/1377698186742726666/1377769013614084196/crna.jpg?ex=683a2ae2&is=6838d962&hm=3b582789db4e5953fbf784a9ce067a96c256d37753366d46dcc02a78d10993c9&=&format=webp);
	background-repeat: no-repeat;
	background-size: cover;
	position:sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 5rem;
	z-index: 999;
}
nav{
	display: flex;
	align-items: center;
	gap: 3rem;
	margin-left: -5%;
}
nav a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	font-weight:600;
	letter-spacing: 0.1rem;
	transition: color 0.2s ease;
	text-decoration: none;
	color: inherit;
	
}
nav a:hover{
	opacity:0.75;
	color:#a7a7a7;
}
/* KRAJ HEADERA */

/* PRVA STRANA  */
.PrvaStrana {
	background: url(https://media.discordapp.net/attachments/1377698186742726666/1378115834509000746/KARTE2.jpg?ex=683b6de3&is=683a1c63&hm=f482250ac6fdd49cb6fcb16e68d4b8302db9c38113de4d803aa3918c42ecce09&=&format=webp);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	text-align:left;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}
.naslov1 {
	font-size: 140px;
	font-weight: 800;
	text-align:left;
	padding: 14rem 1rem 1rem 4rem;
	font-family: 'Montserrat', sans-serif;
	line-height: 0.9;
}
.tekst1{
	line-height: 1.1;
	font-size: 1.1rem;
	padding:1.2rem 4.3rem;
}
/* DUGME */
.dugme {
	font-family: 'Montserrat', sans-serif;
	background-color:#ffffff80;
	color:#56000f;
	margin:1rem -3rem 0rem 4.3rem;
	padding: 0.8rem 2rem;
	border-radius: 60px;
	font-weight: 800;
	border: none;
	font-size:1rem;
	transition: background-color 0.2s ease;
	cursor: pointer;
}
nav2 a{
	font-family: 'Montserrat', sans-serif;
	color:#56000f;
	font-weight: 800;
	font-size:1rem;
	transition: background-color 0.2s ease;
	cursor: pointer;
	text-decoration: none;
}
nav2 a:hover{
	opacity:0.4;
}
/* KRAJ PRVE STRANE */

/* DRUGA STRANA */
.DrugaStrana {
	background: url(https://media.discordapp.net/attachments/1377698186742726666/1377775513485049926/BACKGROUND_druga_strana.png?ex=683a30f0&is=6838df70&hm=d77bfb400640e234c4fc17ee9d83e91be3bb0acaa6c0d2d39ba3d883fbc4e201&=&format=webp&quality=lossless);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	align-items: center;
	justify-content: center;
	text-align:left;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}
.naslov2{
	font-size: 90px;
	line-height: 0.8;
	padding: 14rem 1rem 4rem 45rem;
	font-family: 'Montserrat', sans-serif;
}
.tekst2{
	padding: 0rem 0rem 0rem 45.4rem;
	padding-right:400px;
	text-align:left;
}
.kralj{
	align-self:left;
}
/* KRAJ DRUGE STRANE */

/* TRECA STRANA */
.TrecaStrana {
	background: url(https://media.discordapp.net/attachments/1377698186742726666/1378147828429230191/BACKGROUND_treca_strana.png?ex=683b8baf&is=683a3a2f&hm=bf5d6764b96dc5b1a19e781f71e8708fa63ff5b7f4681b62185ee3ef64e69fb1&=&format=webp&quality=lossless);
	background-repeat: no-repeat;
	background-size: cover;
	height:105vh;
	padding:0px 180px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
}

.naslov3 {
	padding-bottom: 60px;
	font-weight:800;
	font-size:60px;
}
.tekst3{
	padding-bottom: 60px;
	font-size:15px;
	font-weight: 450;
}
/* PRVA KOCKA*/
.tablici {
	align-items: center;
	text-align:left;	
	background-color:#56000f99;
	padding: 100px 40px;
}

/* DRUGA KOCKA*/
.poker {
	align-items: center;
	text-align:left;	
	background-color:#56000f99;
	padding: 100px 40px;
}

/* TRECA KOCKA*/	
.remi {
	align-items: center;
	text-align:left;	
	background-color:#56000f99;
	padding: 100px 40px;

}

/* PRIKAZI VISE... */
nav1 a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	font-weight: 300;
	letter-spacing: 0.1rem;
	transition: color 0.2s ease;
	text-decoration: none;
	color: inherit;
}
nav1 a:hover{
	opacity:0.75;
	color:#a7a7a7;
}
/* KRAJ TRECE STRANE */

/* FOOTER */
.footer{
	background: url(https://media.discordapp.net/attachments/1377698186742726666/1377769013614084196/crna.jpg?ex=683a2ae2&is=6838d962&hm=3b582789db4e5953fbf784a9ce067a96c256d37753366d46dcc02a78d10993c9&=&format=webp);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 30px;
	letter-spacing: 0.2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 11pt;
	font-weight: 200;
	text-align:center;
}
/* KRAJ FOOTERA */

